<div class="row">
    <form class="form-horizontal">
        <!-- left column -->
        <!-- right column -->
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">设置项目属性</h3>
                    <input type="button" class="btn btn-info pull-right" value="确定" id="xmwt_btn">
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">项目名称</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="xmmc">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">委托方</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="wtf">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">委托时间</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="wtsj" name="wtsj"
                                       readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">被审计单位</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="bsjdw">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">委托人</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="wtr">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">风险评估</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="fxpg">
                                <option value="1">低</option>
                                <option value="2">中</option>
                                <option value="3">高</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">业务类型</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="ywlx" id="ywlx">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">项目分类</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="xmfl" id="xmfl">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">承接部门</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-menu-hamburger" onclick="apply_zzjg_select()"></i>
                                </div>
                                <input type="hidden" class="form-control pull-right" id="cjbmid" name="cjbm">
                                <input type="text" class="form-control pull-right" id="cjbmtext" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">项目负责人</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<div class="input-group">-->
                                <!--<div class="input-group-addon">-->
                                    <!--<i class="glyphicon glyphicon-menu-hamburger"></i>-->
                                <!--</div>-->
                                <!--<input type="text" class="form-control pull-right" id="xmfzr" name="xmfzr"-->
                                       <!--readonly="readonly">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">项目开始时间</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="xmkssj" name="xmkssj"
                                       readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">项目结束时间</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="xmjssj" name="xmjssj"
                                       readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">预计收费(元)</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="yjsf">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer">-->
                <!--<button type="submit" class="btn btn-default">Cancel</button>-->
                <!--<button type="submit" class="btn btn-info pull-right">Sign in</button>-->
                <!--</div>-->
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </form>
</div>
<input type="button" id="apply_zzjg_select_model_btn" data-toggle="modal" data-target="#apply_zzjg_select_model"
       style="display:none;">
<div class="modal fade" id="apply_zzjg_select_model">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="zzjg_add_update_model_close" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">组织机构信息</h4>
            </div>
            <div class="modal-body">
                <div id="zzjg_tree"></div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                <input type="button" class="btn btn-primary" value="确定" data-dismiss="modal">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script th:src="@{/js/xmwt/apply.js}"></script>