<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">员工管理</h3>
                <input type="button" class="btn btn-info pull-right" value="新增" data-toggle="modal"
                       data-target="#yggl_add_model" style="margin-left:5px;">
                <form class="form-horizontal pull-right" id="yggl_ser_form">
                    <input type="button" class="btn btn-info pull-right" value="查询" id="yggl_ser">
                    <input type="text" class="form-control pull-right" name="ygglmc" placeholder="名称"
                           style="width:180px;">
                </form>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>姓名</th>
                        <th>账号</th>
                        <th>性别</th>
                        <th>所属部门/职位</th>
                        <th>电话</th>
                        <th>创建日期</th>
                        <th>创建人</th>
                        <th>入职日期</th>
                        <th>离职日期</th>
                        <th>是否允许登陆</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="yggl_table_data">
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <ul class="pagination pull-right" id="page_help">
                    <li class="paginate_button previous disabled">
                        <a href="#">总页数</a>
                    </li>
                    <li class="paginate_button previous disabled">
                        <a href="#" id="page_pages">0</a>
                    </li>
                    <li class="paginate_button previous disabled">
                        <a href="#">总条数</a>
                    </li>
                    <li class="paginate_button previous disabled">
                        <a href="#" id="page_total">0</a>
                    </li>
                    <li class="paginate_button previous disabled">
                        <a href="#" style="background-color:#ccc;">&nbsp;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<div class="modal fade" id="yggl_add_model">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="yggl_add_close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增员工</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="yggl_add_form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">名称</label>
                        <div class="col-sm-8">
                            <input type="hidden" class="form-control" name="uuid">
                            <input type="text" class="form-control" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span style="color:red;">*</span>账号</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="ygglmc">
                            <input type="hidden" class="form-control" name="password" value="123456">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">性别</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="sex">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">所属部门/职位</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-menu-hamburger" onclick="yggl_zzjg_select()"></i>
                                </div>
                                <input type="hidden" class="form-control pull-right" id="bmid" name="bmid">
                                <input type="text" class="form-control pull-right" id="bmidtext" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">电话</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">入职日期</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="rzrq" name="rzrq"
                                       readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">是否允许登陆</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="isLogin">
                                <option value="Y">是</option>
                                <option value="N">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <span id="errors"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                <input type="button" class="btn btn-primary" value="确定" id="yggl_add_btn">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<input type="button" id="yggl_zzjg_select_model_btn" data-toggle="modal" data-target="#yggl_zzjg_select_model"
       style="display:none;">
<div class="modal fade" id="yggl_zzjg_select_model">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="zzjg_add_update_model_close" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">组织机构信息</h4>
            </div>
            <div class="modal-body">
                <div id="yggl_zzjg_tree"></div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                <input type="button" class="btn btn-primary" value="确定" data-dismiss="modal">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script th:src="@{/js/yggl/yggl.js}"></script>