<div class="row">
    <!-- right column -->
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">组织机构</h3>
                <input type="button" class="btn btn-info pull-right" value="新增" onclick="zzjg_add_btn(0)"/>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <div class="col-sm-4">
                    <div id="zzjg_tree">
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <!--<input type="button" class="btn btn-info pull-right" value="确认" id="pwd_btn"/>-->
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (right) -->
</div>
<input type="button" id="zzjg_add_update_model_btn" data-toggle="modal" data-target="#zzjg_add_update_model"
       style="display:none;"/>
<div class="modal fade" id="zzjg_add_update_model">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="zzjg_add_update_model_close" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">组织机构信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="zzjg_add_update_model_form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">组织机构名称</label>
                        <div class="col-sm-8">
                            <input type="hidden" name="zzjgfj">
                            <input type="hidden" name="uuid">
                            <input type="text" class="form-control" name="zzjgmc">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                <input type="button" class="btn btn-primary" value="确定" id="zzjg_add_update_model_sub">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script th:src="@{/js/zzjg/zzjg.js}"></script>