<div class="row">
    <!-- right column -->
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">组织机构</h3>
                <input type="button" class="btn btn-info pull-right" value="确认"/>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <div class="col-sm-4">
                    <h2>组织机构树状图</h2>
                    <div id="treeview12" class="treeview">
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <!--<input type="button" class="btn btn-info pull-right" value="确认" id="pwd_btn"/>-->
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (right) -->
</div>
<script th:src="@{/js/zzjg/zzjg.js}"></script>