<div class="row">
    <div class="col-md-6">
        <!-- Horizontal Form -->
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">组织机构</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <div class="col-sm-4">
                    <div id="zzjg_tree">
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <!--<input type="button" class="btn btn-info pull-right" value="确认" id="pwd_btn"/>-->
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (right) -->
    <div class="col-md-6">
        <!-- Horizontal Form -->
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">权限管理</h3>
                <input type="button" class="btn btn-info pull-right" value="确定" id="qxgl_set_qx" onclick="qxgl_set_qx()"/>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <div class="col-sm-4">
                    <div id="qxgl_tree">
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <!--<input type="button" class="btn btn-info pull-right" value="确认" id="pwd_btn"/>-->
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
</div>

<script th:src="@{/js/qxgl/qxgl.js}"></script>