<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">项目看台</h3>
                <form class="form-horizontal pull-right" id="xmkt_ser_form">
                    <input type="button" class="btn btn-info pull-right" value="查询" id="xmkt_ser">
                    <input type="text" class="form-control pull-right" name="xmmc" placeholder="项目名称"
                           style="width:180px;">
                </form>
                <div style="display:none;">
                    <div id="xmkt_shiro_cjxm" shiro:hasAnyPermissions="xmktCjxm"></div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>项目名称</th>
                        <th>委托方</th>
                        <th>委托时间</th>
                        <th>被审计单位</th>
                        <th>风险评估</th>
                        <th>业务类型</th>
                        <th>项目分类</th>
                        <th>承接部门</th>
                        <th>承接人</th>
                        <!--<th>项目完成确认人</th>-->
                        <th>项目开始时间</th>
                        <th>项目结束时间</th>
                        <th>预计收费</th>
                        <th>项目状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="xmkt_table_data">
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <ul class="pagination pull-right" id="page_help">
                    <li class="paginate_button previous disabled">
                        <a href="#">总页数</a>
                    </li>
                    <li class="paginate_button previous disabled">
                        <a href="#" id="page_pages">0</a>
                    </li>
                    <li class="paginate_button previous disabled">
                        <a href="#">总条数</a>
                    </li>
                    <li class="paginate_button previous disabled">
                        <a href="#" id="page_total">0</a>
                    </li>
                    <li class="paginate_button previous disabled">
                        <a href="#" style="background-color:#ccc;">&nbsp;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<input type="button" id="xmkt_cjxm_model_btn" data-toggle="modal" data-target="#xmkt_cjxm_model"
       style="display:none;"/>
<div class="modal fade" id="xmkt_cjxm_model">
    <div class="modal-dialog" style="margin-right:0;margin-left:230px;margin-top:50px;width:calc(100vw - 230px);">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="xmkt_cjxm_close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">承接项目</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="xmkt_cjxm_form">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">项目基础信息</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">项目名称</label>
                                    <div class="col-sm-8">
                                        <input type="hidden" class="form-control" name="uuid">
                                        <input type="text" class="form-control" id="xmmc" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">委托方</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="wtf" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">委托时间</label>
                                    <div class="col-sm-8">
                                        <!--<div class="input-group date">-->
                                        <!--<div class="input-group-addon">-->
                                        <!--<i class="fa fa-calendar"></i>-->
                                        <!--</div>-->
                                        <!--<input type="text" class="form-control pull-right" id="wtsj"-->
                                        <!--readonly="readonly">-->
                                        <!--</div>-->
                                        <input type="text" class="form-control" id="wtsj" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">被审计单位</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="bsjdw" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">风险评估</label>
                                    <div class="col-sm-8">
                                        <!--<select class="form-control" id="fxpg" readonly="readonly">-->
                                        <!--<option value="1">低</option>-->
                                        <!--<option value="2">中</option>-->
                                        <!--<option value="3">高</option>-->
                                        <!--</select>-->
                                        <input type="text" class="form-control" id="fxpg" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">业务类型</label>
                                    <div class="col-sm-8">
                                        <!--<select class="form-control" id="ywlx" readonly="readonly">-->
                                        <!--<option value="">请选择</option>-->
                                        <!--</select>-->
                                        <input type="text" class="form-control" id="ywlx" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">项目分类</label>
                                    <div class="col-sm-8">
                                        <!--<select class="form-control" id="xmfl" readonly="readonly">-->
                                        <!--<option value="">请选择</option>-->
                                        <!--</select>-->
                                        <input type="text" class="form-control" id="xmfl" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">承接部门</label>
                                    <div class="col-sm-8">
                                        <!--<div class="input-group">-->
                                        <!--<div class="input-group-addon" onclick="apply_zzjg_select()">-->
                                        <!--<i class="glyphicon glyphicon-menu-hamburger"></i>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash;<input type="hidden" class="form-control pull-right" id="cjbmid" name="cjbm">&ndash;&gt;-->
                                        <!--<input type="text" class="form-control pull-right" id="cjbmtext"-->
                                        <!--readonly="readonly">-->
                                        <!--</div>-->
                                        <input type="text" class="form-control" id="cjbm" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">承接人</label>
                                    <div class="col-sm-8">
                                        <!--<div class="input-group">-->
                                        <!--<div class="input-group-addon" onclick="apply_account_select()">-->
                                        <!--<i class="glyphicon glyphicon-menu-hamburger"></i>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash;<input type="hidden" class="form-control pull-right" id="cjrid" name="cjr"&ndash;&gt;-->
                                        <!--&lt;!&ndash;readonly="readonly">&ndash;&gt;-->
                                        <!--<input type="text" class="form-control pull-right" id="cjrtext" readonly="readonly">-->
                                        <!--</div>-->
                                        <input type="text" class="form-control" id="cjr" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">项目开始时间</label>
                                    <div class="col-sm-8">
                                        <!--<div class="input-group date">-->
                                        <!--<div class="input-group-addon">-->
                                        <!--<i class="fa fa-calendar"></i>-->
                                        <!--</div>-->
                                        <!--<input type="text" class="form-control pull-right" id="xmkssj"-->
                                        <!--readonly="readonly">-->
                                        <!--</div>-->
                                        <input type="text" class="form-control" id="xmkssj" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">项目结束时间</label>
                                    <div class="col-sm-8">
                                        <!--<div class="input-group date">-->
                                        <!--<div class="input-group-addon">-->
                                        <!--<i class="fa fa-calendar"></i>-->
                                        <!--</div>-->
                                        <!--<input type="text" class="form-control pull-right" id="xmjssj"-->
                                        <!--readonly="readonly">-->
                                        <!--</div>-->
                                        <input type="text" class="form-control" id="xmjssj" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">预计收费(元)</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="yjsf" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">设置成员信息</label>
                                    <input type="button" class="btn btn-info btn-xs" value="选择人员">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                <input type="button" class="btn btn-primary" value="确定" id="xmkt_update_btn">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script th:src="@{/js/xmkt/xmkt.js}"></script>